table{
    border-collapse: collapse;
    width:850px;
}
th,td{
    border-bottom: 1px solid lightgrey;
    padding: 15px 30px;
}
td:nth-child(1){
    width: 50px;
}

td:nth-child(2){
    width:500px;
}

.taskList{
    border:2px solid grey;
    display: grid;
    justify-content: center;
    border: 2px solid brown;
    border-radius: 10px;
}